# Ignore virtual environments
venv/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.idea/

# Ignore other files you don't want to track
*.log
*.bak
*.swp

.env
presentation/
docs/